# Exploratory Data Analysis

### Importing Packages

In [641]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
import os

### Importing and Initialising Dataset

In [642]:

os.chdir(r"/Users/apple/Documents/Credit_Card_Churn_Model_Local/credit-card-churn/Input")
data = pd.read_csv("BankChurners.csv") 
data = data.drop(data.columns[-2:], axis=1)  
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [643]:
data['Credit_Limit']

0        12691.0
1         8256.0
2         3418.0
3         3313.0
4         4716.0
          ...
10122     4003.0
10123     4277.0
10124     5409.0
10125     5281.0
10126    10388.0
Name: Credit_Limit, Length: 10127, dtype: float64

### Encoding Categorical Data

In [644]:
#Unique Values and its frequency in categorical columns
columns = ['Attrition_Flag','Education_Level','Marital_Status','Income_Category','Card_Category',]
for col in columns:
    print(data[col].value_counts())

Attrition_Flag
Existing Customer    8500
Attrited Customer    1627
Name: count, dtype: int64
Education_Level
Graduate         3128
High School      2013
Unknown          1519
Uneducated       1487
College          1013
Post-Graduate     516
Doctorate         451
Name: count, dtype: int64
Marital_Status
Married     4687
Single      3943
Unknown      749
Divorced     748
Name: count, dtype: int64
Income_Category
Less than $40K    3561
$40K - $60K       1790
$80K - $120K      1535
$60K - $80K       1402
Unknown           1112
$120K +            727
Name: count, dtype: int64
Card_Category
Blue        9436
Silver       555
Gold         116
Platinum      20
Name: count, dtype: int64

#### Attrition Flag Before and After Encoding

In [645]:
data['Attrition_Flag']

0        Existing Customer
1        Existing Customer
2        Existing Customer
3        Existing Customer
4        Existing Customer
               ...
10122    Existing Customer
10123    Attrited Customer
10124    Attrited Customer
10125    Attrited Customer
10126    Attrited Customer
Name: Attrition_Flag, Length: 10127, dtype: object

In [646]:
data['Attrition_Flag'] = data['Attrition_Flag'].map({ 
    'Attrited Customer': 1,
    'Existing Customer': 0})

In [647]:
data['Attrition_Flag']

0        0
1        0
2        0
3        0
4        0
        ..
10122    0
10123    1
10124    1
10125    1
10126    1
Name: Attrition_Flag, Length: 10127, dtype: int64

#### Education Level Before and After Encoding

In [648]:
data['Education_Level']

0        High School
1           Graduate
2           Graduate
3        High School
4         Uneducated
            ...
10122       Graduate
10123        Unknown
10124    High School
10125       Graduate
10126       Graduate
Name: Education_Level, Length: 10127, dtype: object

In [649]:
data['Education_Level'] = data['Education_Level'].map({ 'Uneducated': 0,
    'High School': 1,
    'College': 2,
    'Graduate': 3,
    'Post-Graduate': 4,
    'Doctorate': 5,
    'Unknown': -1})

In [650]:
data['Education_Level']

0        1
1        3
2        3
3        1
4        0
        ..
10122    3
10123   -1
10124    1
10125    3
10126    3
Name: Education_Level, Length: 10127, dtype: int64

#### Gender Before and After One Hot Encoding

In [651]:
data['Gender']

0        M
1        F
2        M
3        F
4        M
        ..
10122    M
10123    M
10124    F
10125    M
10126    F
Name: Gender, Length: 10127, dtype: object

In [652]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
data['Gender'] = np.array(ct.fit_transform(data['Gender'].values.reshape(-1, 1)))

In [653]:
data['Gender']

0        0.0
1        1.0
2        0.0
3        1.0
4        0.0
        ...
10122    0.0
10123    0.0
10124    1.0
10125    0.0
10126    1.0
Name: Gender, Length: 10127, dtype: float64

#### Income Category Before and After Encoding

In [654]:
data['Income_Category']

0           $60K - $80K
1        Less than $40K
2          $80K - $120K
3        Less than $40K
4           $60K - $80K
              ...
10122       $40K - $60K
10123       $40K - $60K
10124    Less than $40K
10125       $40K - $60K
10126    Less than $40K
Name: Income_Category, Length: 10127, dtype: object

In [655]:
data['Income_Category'] = data['Income_Category'].map({ 
    'Less than $40K': 1,
    '$40K - $60K': 2,
    '$60K - $80K': 3,
    '$80K - $120K': 4,
    '$120K +': 5,
    'Unknown': -1})

In [656]:
data['Income_Category']

0        3
1        1
2        4
3        1
4        3
        ..
10122    2
10123    2
10124    1
10125    2
10126    1
Name: Income_Category, Length: 10127, dtype: int64

#### Card Category Before and After Encoding

In [657]:
data['Card_Category']

0          Blue
1          Blue
2          Blue
3          Blue
4          Blue
          ...
10122      Blue
10123      Blue
10124      Blue
10125      Blue
10126    Silver
Name: Card_Category, Length: 10127, dtype: object

In [658]:
data['Card_Category'] = data['Card_Category'].map({ 
    'Blue': 1,
    'Silver': 2,
    'Gold': 3,
    'Platinum': 4,
    'Unknown': -1})

In [659]:
data['Card_Category']

0        1
1        1
2        1
3        1
4        1
        ..
10122    1
10123    1
10124    1
10125    1
10126    2
Name: Card_Category, Length: 10127, dtype: int64

In [660]:
data['Credit_Limit']

0        12691.0
1         8256.0
2         3418.0
3         3313.0
4         4716.0
          ...
10122     4003.0
10123     4277.0
10124     5409.0
10125     5281.0
10126    10388.0
Name: Credit_Limit, Length: 10127, dtype: float64

#### Marital Status Before and After Encoding using Dummies

In [661]:
data['Marital_Status']

0         Married
1          Single
2         Married
3         Unknown
4         Married
           ...
10122      Single
10123    Divorced
10124     Married
10125     Unknown
10126     Married
Name: Marital_Status, Length: 10127, dtype: object

In [662]:
data['Credit_Limit']

0        12691.0
1         8256.0
2         3418.0
3         3313.0
4         4716.0
          ...
10122     4003.0
10123     4277.0
10124     5409.0
10125     5281.0
10126    10388.0
Name: Credit_Limit, Length: 10127, dtype: float64

In [663]:
print(data['Marital_Status'].value_counts())

Marital_Status
Married     4687
Single      3943
Unknown      749
Divorced     748
Name: count, dtype: int64

In [664]:
data['Credit_Limit']

0        12691.0
1         8256.0
2         3418.0
3         3313.0
4         4716.0
          ...
10122     4003.0
10123     4277.0
10124     5409.0
10125     5281.0
10126    10388.0
Name: Credit_Limit, Length: 10127, dtype: float64

In [665]:
dummies = pd.get_dummies(data['Marital_Status'])
data = pd.concat([data, dummies], axis=1)
data.drop(['Marital_Status'], axis=1, inplace=True)

In [666]:
data['Credit_Limit']

0        1.0
1        0.0
2        1.0
3        0.0
4        1.0
        ...
10122    1.0
10123    1.0
10124    0.0
10125    1.0
10126    0.0
Name: Credit_Limit, Length: 10127, dtype: float64

In [667]:
data[['Married', 'Single', 'Unknown', 'Divorced']]

       Married  Single  Unknown  Divorced
0         True   False    False     False
1        False    True    False     False
2         True   False    False     False
3        False   False     True     False
4         True   False    False     False
...        ...     ...      ...       ...
10122    False    True    False     False
10123    False   False    False      True
10124     True   False    False     False
10125    False   False     True     False
10126     True   False    False     False

[10127 rows x 4 columns]

#### Age Before and After Encoding using Binning

In [668]:
data['Customer_Age']

0        45
1        49
2        51
3        40
4        40
         ..
10122    50
10123    41
10124    44
10125    30
10126    43
Name: Customer_Age, Length: 10127, dtype: int64

In [669]:
# Binning Age
age_bins = [0, 30, 40, 50, 60, np.inf]
age_labels = ['Under 30', '30-40', '40-50', '50-60', '60+']
data['Customer_Age_Binned'] = pd.cut(data['Customer_Age'], bins=age_bins, labels=age_labels)
age_dummies = pd.get_dummies(data['Customer_Age_Binned'], prefix='Age')

# Adding the dummy variables to the original DataFrame
data = pd.concat([data, age_dummies], axis=1)
data.drop(['Customer_Age', 'Customer_Age_Binned'], axis=1, inplace=True)

In [670]:
data[['Age_Under 30', 'Age_30-40','Age_40-50', 'Age_50-60', 'Age_60+']]

       Age_Under 30  Age_30-40  Age_40-50  Age_50-60  Age_60+
0             False      False       True      False    False
1             False      False       True      False    False
2             False      False      False       True    False
3             False       True      False      False    False
4             False       True      False      False    False
...             ...        ...        ...        ...      ...
10122         False      False       True      False    False
10123         False      False       True      False    False
10124         False      False       True      False    False
10125          True      False      False      False    False
10126         False      False       True      False    False

[10127 rows x 5 columns]

In [671]:
data[['Total_Trans_Amt', 'Avg_Open_To_Buy', 'Total_Revolving_Bal']]

       Total_Trans_Amt  Avg_Open_To_Buy  Total_Revolving_Bal
0                 1144          12691.0                  777
1                 1291           8256.0                  864
2                 1887           3418.0                    0
3                 1171           3313.0                 2517
4                  816           4716.0                    0
...                ...              ...                  ...
10122            15476           4003.0                 1851
10123             8764           4277.0                 2186
10124            10291           5409.0                    0
10125             8395           5281.0                    0
10126            10294          10388.0                 1961

[10127 rows x 3 columns]

### Optimizing Total_Trans_Amt by Binning

In [672]:
data['Total_Trans_Amt']

0         1144
1         1291
2         1887
3         1171
4          816
         ...
10122    15476
10123     8764
10124    10291
10125     8395
10126    10294
Name: Total_Trans_Amt, Length: 10127, dtype: int64

In [673]:
trans_amt_bins = [0, 1000, 5000, 10000, np.inf]
trans_amt_labels = ['Low', 'Medium', 'High', 'Very High']
data['Total_Trans_Amt_Binned'] = pd.cut(data['Total_Trans_Amt'], bins=trans_amt_bins, labels=trans_amt_labels)
Total_Trans_Amt_dummies = pd.get_dummies(data['Total_Trans_Amt_Binned'], prefix = 'Total_Trans_Amt_Binned')
# Adding the dummy variables to the original DataFrame  
data = pd.concat([data, Total_Trans_Amt_dummies], axis = 1  )

data.drop(['Total_Trans_Amt', 'Total_Trans_Amt_Binned'], axis=1, inplace=True)

In [674]:
data[['Total_Trans_Amt_Binned_Low', 'Total_Trans_Amt_Binned_Medium',
    'Total_Trans_Amt_Binned_High', 'Total_Trans_Amt_Binned_Very High']]

,Total_Trans_Amt_Binned_Low,Total_Trans_Amt_Binned_Medium,Total_Trans_Amt_Binned_High,Total_Trans_Amt_Binned_Very High
0,False,True,False,False
1,False,True,False,False
2,False,True,False,False
3,False,True,False,False
4,True,False,False,False
...,...,...,...,...
10122,False,False,False,True
10123,False,False,True,False
10124,False,False,False,True
10125,False,False,True,False
10126,False,False,False,True

### Optimizing Avg_Open_To_Buy by Binning

In [675]:
data['Avg_Open_To_Buy']

0        12691.0
1         8256.0
2         3418.0
3         3313.0
4         4716.0
          ...
10122     4003.0
10123     4277.0
10124     5409.0
10125     5281.0
10126    10388.0
Name: Avg_Open_To_Buy, Length: 10127, dtype: float64

In [676]:
open_to_buy_bins = [0, 5000, 15000, 30000, np.inf]
open_to_buy_labels = ['Low', 'Medium', 'High', 'Very High']
data['Avg_Open_To_Buy_Binned'] = pd.cut(data['Avg_Open_To_Buy'], bins=open_to_buy_bins, labels=open_to_buy_labels)
Avg_Open_To_Buy_dummies = pd.get_dummies(data['Avg_Open_To_Buy_Binned'], prefix='Avg_Open_To_Buy_Binned')
# Adding the dummy variables to the original DataFrame      
data = pd.concat([data, Avg_Open_To_Buy_dummies], axis=1)
data.drop(['Avg_Open_To_Buy', 'Avg_Open_To_Buy_Binned'], axis=1, inplace=True)

In [677]:
data[['Avg_Open_To_Buy_Binned_Low', 'Avg_Open_To_Buy_Binned_Medium',
       'Avg_Open_To_Buy_Binned_High', 'Avg_Open_To_Buy_Binned_Very High']]

,Avg_Open_To_Buy_Binned_Low,Avg_Open_To_Buy_Binned_Medium,Avg_Open_To_Buy_Binned_High,Avg_Open_To_Buy_Binned_Very High
0,False,True,False,False
1,False,True,False,False
2,True,False,False,False
3,True,False,False,False
4,True,False,False,False
...,...,...,...,...
10122,True,False,False,False
10123,True,False,False,False
10124,False,True,False,False
10125,False,True,False,False
10126,False,True,False,False

### Optimizing Total_Revolving_Bal by Binning

In [678]:
data['Total_Revolving_Bal']

0         777
1         864
2           0
3        2517
4           0
         ...
10122    1851
10123    2186
10124       0
10125       0
10126    1961
Name: Total_Revolving_Bal, Length: 10127, dtype: int64

In [679]:
revolving_bal_bins = [0, 500, 1500, 3000, np.inf]
revolving_bal_labels = ['Low', 'Medium', 'High', 'Very High']
data['Total_Revolving_Bal_Binned'] = pd.cut(data['Total_Revolving_Bal'], bins=revolving_bal_bins, labels=revolving_bal_labels)
Total_Revolving_Bal_dummies = pd.get_dummies(data['Total_Revolving_Bal_Binned'], prefix='Total_Revolving_Bal_Binned')
data = pd.concat([data, Total_Revolving_Bal_dummies], axis=1)
data.drop(columns='Total_Revolving_Bal_Binned', inplace=True)
data.drop(['Total_Revolving_Bal'], axis=1, inplace=True)

In [683]:
data.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Gender', 'Dependent_count',
       'Education_Level', 'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Amt_Chng_Q4_Q1',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Divorced', 'Married', 'Single', 'Unknown', 'Age_Under 30', 'Age_30-40',
       'Age_40-50', 'Age_50-60', 'Age_60+', 'Total_Trans_Amt_Binned_Low',
       'Total_Trans_Amt_Binned_Medium', 'Total_Trans_Amt_Binned_High',
       'Total_Trans_Amt_Binned_Very High', 'Avg_Open_To_Buy_Binned_Low',
       'Avg_Open_To_Buy_Binned_Medium', 'Avg_Open_To_Buy_Binned_High',
       'Avg_Open_To_Buy_Binned_Very High', 'Total_Revolving_Bal_Binned_Low',
       'Total_Revolving_Bal_Binned_Medium', 'Total_Revolving_Bal_Binned_High',
       'Total_Revolving_Bal_Binned_Very High'],
      dtype='object')

In [680]:
data[[ 'Total_Revolving_Bal_Binned_Low', 'Total_Revolving_Bal_Binned_Medium',
       'Total_Revolving_Bal_Binned_High',
       'Total_Revolving_Bal_Binned_Very High']]

,Total_Revolving_Bal_Binned_Low,Total_Revolving_Bal_Binned_Medium,Total_Revolving_Bal_Binned_High,Total_Revolving_Bal_Binned_Very High
0,False,True,False,False
1,False,True,False,False
2,False,False,False,False
3,False,False,True,False
4,False,False,False,False
...,...,...,...,...
10122,False,False,True,False
10123,False,False,True,False
10124,False,False,False,False
10125,False,False,False,False
10126,False,False,True,False

In [681]:
# Saving the modified dataset to a new CSV file in the input folder
output_file_cleaned = 'credit_card_churn_cleaned.csv'
input_directory = r"/Users/apple/Documents/Credit_Card_Churn_Model_Local/credit-card-churn/Input"
data.to_csv(os.path.join(input_directory, output_file_cleaned), index=False)

In [682]:
data['Credit_Limit']

0        1.0
1        0.0
2        1.0
3        0.0
4        1.0
        ...
10122    1.0
10123    1.0
10124    0.0
10125    1.0
10126    0.0
Name: Credit_Limit, Length: 10127, dtype: float64