In [4]:
#Reducing the dimention by Heatmap (removing features with correlation > +-0.8)

In [2]:
import pandas as pd
import os
os.chdir(r"/Users/apple/Documents/Credit_Card_Churn_Model_Local/credit-card-churn")
#Initialising Dataset
data = pd.read_csv("/Users/apple/Documents/Credit_Card_Churn_Model_Local/credit-card-churn/Input/cleaned_credit_card_churn_numeric.csv") 
data.describe()

,Attrition_Flag,Gender,Dependent_count,Education_Level,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Amt_Chng_Q4_Q1,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Married,Single,Unknown
count,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,0.160660,0.529081,2.346203,1.601955,1.975906,1.083638,35.928409,3.812580,2.341167,2.455317,0.470919,7469.139637,64.858695,0.759941,0.712222,0.462822,0.389355,0.073961
std,0.367235,0.499178,1.298908,1.700417,1.652395,0.333784,7.986416,1.554408,1.010622,1.106225,0.499178,9090.685324,23.472570,0.219207,0.238086,0.498641,0.487628,0.261720
min,0.000000,0.000000,0.000000,-1.000000,-1.000000,1.000000,13.000000,1.000000,0.000000,0.000000,0.000000,3.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,31.000000,3.000000,2.000000,2.000000,0.000000,1324.500000,45.000000,0.631000,0.582000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,2.000000,2.000000,2.000000,1.000000,36.000000,4.000000,2.000000,2.000000,0.000000,3474.000000,67.000000,0.736000,0.702000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,3.000000,3.000000,3.000000,1.000000,40.000000,5.000000,3.000000,3.000000,1.000000,9859.000000,81.000000,0.859000,0.818000,1.000000,1.000000,0.000000
max,1.000000,1.000000,5.000000,5.000000,5.000000,4.000000,56.000000,6.000000,6.000000,6.000000,1.000000,34516.000000,139.000000,3.397000,3.714000,1.000000,1.000000,1.000000

In [6]:
data = data.drop(columns = ['Total_Amt_Chng_Q4_Q1', 'Gender'])
data.head()

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Married,Single,Unknown
0,0,45,3,1,3,1,39,5,1,3,1.0,777,12691.0,1144,42,1.335,1.625,1,0,0
1,0,49,5,3,1,1,44,6,1,2,0.0,864,8256.0,1291,33,1.541,3.714,0,1,0
2,0,51,3,3,4,1,36,4,1,0,1.0,0,3418.0,1887,20,2.594,2.333,1,0,0
3,0,40,4,1,1,1,34,3,4,1,0.0,2517,3313.0,1171,20,1.405,2.333,0,0,1
4,0,40,3,0,3,1,21,5,1,0,1.0,0,4716.0,816,28,2.175,2.500,1,0,0

In [7]:
import os

# Get the directory of the input file
input_file = 'cleaned_credit_card_churn_numeric.csv'
output_file = 'cleaned_credit_card_churn_numeric_feature_selection.csv'
directory = os.path.dirname(input_file)

# Save the numeric data to the new file in the same directory
data.to_csv(os.path.join(directory, output_file), index=False)

In [8]:
#Upsampling the dataset using SMOTE
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
X = data[1:]
y = data['Attrition_Flag']
X

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Married,Single,Unknown
1,0,49,5,3,1,1,44,6,1,2,0.0,864,8256.0,1291,33,1.541,3.714,0,1,0
2,0,51,3,3,4,1,36,4,1,0,1.0,0,3418.0,1887,20,2.594,2.333,1,0,0
3,0,40,4,1,1,1,34,3,4,1,0.0,2517,3313.0,1171,20,1.405,2.333,0,0,1
4,0,40,3,0,3,1,21,5,1,0,1.0,0,4716.0,816,28,2.175,2.500,1,0,0
5,0,44,2,3,2,1,36,3,1,2,1.0,1247,4010.0,1088,24,1.376,0.846,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0,50,2,3,2,1,40,3,2,3,1.0,1851,4003.0,15476,117,0.703,0.857,0,1,0
10123,1,41,2,-1,2,1,25,4,2,3,1.0,2186,4277.0,8764,69,0.804,0.683,0,0,0
10124,1,44,1,1,1,1,36,5,3,4,0.0,0,5409.0,10291,60,0.819,0.818,1,0,0
10125,1,30,2,3,2,1,36,4,3,3,1.0,0,5281.0,8395,62,0.535,0.722,0,0,1
10126,1,43,2,3,1,2,25,6,2,4,0.0,1961,10388.0,10294,61,0.703,0.649,1,0,0